@import "./styles/main-desktop-1.css";
@import "./styles/formSign.css";
@import "./styles/inSystems.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: all 0.3s;
    font-size: 18px;
}
span{
    display: block;
}
img{
    max-width: 100%;
}
:root {
    --bg-color: #D1EDE3;
    --offset: 20px;
    --link-shadow: rgb(34, 25, 25);
    --header-color: #FFEDED;
    --footer-color:#EDC1C1;
    --body-SignUp:#F5F5F5;
    --input-sign:#D9D9D9;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    font-weight: 700;
    text-shadow: 0px -1px 2px var(--link-shadow);
    transition: text-shadow 0.3s;
}
.active-link{
    font-weight: 700;
    text-shadow: 0px -1px 2px var(--link-shadow);
    transition: text-shadow 0.3s;
    
}
button{
    background: none;
    border: 1p solid #000;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;

}
.button-aplication:hover{
    background-color:var(--bg-color);
    text-shadow: 0px -1px 2px var(--link-shadow);
}
h2 {
    font-weight: 700;
    font-size: 24px;
}
h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}
p {
    font-size: 14px;
}
.invalid{
    border:1px solid red;
}
.invalid-text{
    color: red;
}
.form-control{
    width: 350px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
